body {
  font-family: "Lato", sans-serif;
}

iframe {
  border: none;
}

.imagestyle {
  border-radius: 10%;
}

.heading-main {
  font-family: "Oleo Script", cursive;
}

.space {
  width: 2rem;
}

.card {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
